<a href="https://colab.research.google.com/github/anacarolinaz/portfolio/blob/main/Launches_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
import plotly.graph_objects as go

In [ ]:
#Importation of the dataframe
space = pd.read_csv("/content/space-missions.csv")
#Show the first 5 lines 
space.head()

   Unnamed: 0  Unnamed: 0.1 Company Name  ... Status Rocket  Rocket Status Mission
0           0             0       SpaceX  ...  StatusActive   50.0         Success
1           1             1         CASC  ...  StatusActive  29.75         Success
2           2             2       SpaceX  ...  StatusActive     NaN        Success
3           3             3    Roscosmos  ...  StatusActive   65.0         Success
4           4             4          ULA  ...  StatusActive  145.0         Success

[5 rows x 9 columns]

In [ ]:
space["Year"] = space["Datum"].map(lambda date : date.split(",")[-1]).map(lambda date : date.split(" ")[1])

space["Country"] = space["Location"].map(lambda loc : loc.split(",")[-1].strip())
space["Launcher"] = space["Location"].map(lambda loc : loc.split(",")[0].strip())
space["Site name"] = space["Location"].map(lambda loc : loc.split(",")[1].strip())

del space["Unnamed: 0.1"]
del space["Launcher"]
del space["Detail"]

space["Unnamed: 0"] = (space["Unnamed: 0"] + 1 - max(space["Unnamed: 0"]))*(-1)+2
space.rename(columns={" Rocket" : "Rocket price","Unnamed: 0" : "Launch Number"}, inplace = True)

space.head()

   Launch Number Company Name  ...     Country                        Site name
0           4324       SpaceX  ...         USA             Kennedy Space Center
1           4323         CASC  ...       China  Jiuquan Satellite Launch Center
2           4322       SpaceX  ...         USA                       Boca Chica
3           4321    Roscosmos  ...  Kazakhstan              Baikonur Cosmodrome
4           4320          ULA  ...         USA               Cape Canaveral AFS

[5 rows x 10 columns]

In [ ]:
space["Country"].unique()

array(['USA', 'China', 'Kazakhstan', 'Japan', 'Israel', 'New Zealand',
       'Russia', 'Shahrud Missile Test Site', 'France', 'Iran', 'India',
       'New Mexico', 'Yellow Sea', 'North Korea',
       'Pacific Missile Range Facility', 'Pacific Ocean', 'South Korea',
       'Barents Sea', 'Brazil', 'Gran Canaria', 'Kenya', 'Australia'],
      dtype=object)

In [ ]:
#Here we're changing some 'countries' that just were used to make the launches
space["Country"].replace('Yellow Sea', 'China',inplace = True)
space["Country"].replace('Shahrud Missile Test Site', 'Iran',inplace = True)
space["Country"].replace('Pacific Missile Range Facility', 'USA',inplace = True)
space["Country"].replace('Barents Sea', 'Russia',inplace = True)
space["Country"].replace('Pacific Ocean', 'USA',inplace = True)
space["Country"].replace('New Mexico', 'USA',inplace = True)
space["Country"].replace('Gran Canaria', 'Spain',inplace = True)

#Example: 'VKS RF', 'RVSN USSR', 'ROSCOSMOS' are all Russian Companies.
x = ["VKS RF","RVSN USSR","ROSCOSMOS"]
for c in x :
    space.loc[space['Company Name'] == c, "Country"] = "Russia"

In [ ]:
space.head()

   Launch Number Company Name  ...     Country                        Site name
0           4324       SpaceX  ...         USA             Kennedy Space Center
1           4323         CASC  ...       China  Jiuquan Satellite Launch Center
2           4322       SpaceX  ...         USA                       Boca Chica
3           4321    Roscosmos  ...  Kazakhstan              Baikonur Cosmodrome
4           4320          ULA  ...         USA               Cape Canaveral AFS

[5 rows x 10 columns]

In [ ]:
space.shape

(4324, 10)

In [ ]:
space.tail(1)

      Launch Number Company Name  ... Country            Site name
4323              1    RVSN USSR  ...  Russia  Baikonur Cosmodrome

[1 rows x 10 columns]

In [ ]:
fig = px.line(space, x='Year', y="Launch Number",color_discrete_sequence = px.colors.sequential.RdBu, template = "plotly_dark",height = 600, width = 600)
fig.show()

In [ ]:
Count_Year = space["Year"].value_counts().reset_index().rename(columns={"index" : "Year", "Year" : "Count"}).sort_values("Year")
fig = px.bar(Count_Year, y='Count',  x='Year', text='Count', color = 'Count',color_continuous_scale= px.colors.sequential.Oranges, 
             template = "plotly_dark",height = 600, width = 700)
fig.show()

In [ ]:
#Count_Year_country
Count_Year_country = space.groupby(["Year","Country"])["Launch Number"].count().reset_index()

fig = px.bar(Count_Year_country, y='Launch Number', x='Year',color="Country",
             color_discrete_sequence = px.colors.qualitative.Dark24,template = "plotly_dark"
             ,height = 600, width = 800)
fig.show()

In [ ]:
Tab = space.groupby(["Year","Status Mission"])["Launch Number"].count().reset_index()
fig = px.bar(Tab, y='Launch Number', x='Year',color="Status Mission",title='Success distribution by Year',
             color_continuous_scale = px.colors.sequential.Blues,template = "plotly_dark"
             ,height = 500, width = 800)
fig.show()